* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;
    cursor: none;
   
   
   
}

body{
    background-color: black;
}
h1{
       display: flex;
     position: absolute;
    left: 50%;
    top: 50%;
transform: translate(-50%,-50%);
font-size: 4vw;
font-weight: 700;
text-shadow: 20px  crimson;


z-index: 1;
}

#crsr{

    height: 20px;
    width: 20px;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    transition:scale ease 0.3s;
     mix-blend-mode: difference;
   
    
}


